<div ng-show='showShortener'>

  <form>
    <input class="text" type="text" ng-init="createdLink = 'http://'" ng-model="createdLink" ngpattern='/(http|https):\/\/(\w+:{0,1}\w*@)?(\S+)(:[0-9]+)?(\/|\/([\w#!:.?+=&%@!\-\/]))?/' name="url">
    <button type="submit" ng-init="spinnerShow = false" ng-click="sendMsg()">Shorten</button>
  </form>
  <img class="spinner" src="/spiffygif_46x46.gif" ng-show="spinnerShow">
  <div class="message" ng-model="message"></div>

</div>

<input type="text" placeholder="Search" ng-model="searchQuery"> 
<a> Sort by </a>
<select ng-init="sortBy = 'visits'" ng-model="sortBy" >
  <option value="updated_at">Last Visited Time</option>
  <option value="created_at">Latest</option>
  <option value="url">Url</option>
  <option value="visits">Visit Count</option>
</select>

<div class = 'link' ng-repeat="link in links | filter:searchQuery | orderBy:sortBy">
  <span link-view ng-model="link"></span>
</div>

  <div class = 'errorMessage' ng-model="error" ng-show="error">
    <p>{{error}}</p>
  </div>